html,
body {
  margin: 0;
  height: 100%;
  background: radial-gradient(circle at top right, #000 0%, #020617 55%, #000 100%) !important;
  color: #e5e7eb;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif !important;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
